body{
    display: flex;
    flex-direction: column;
    background-color: #2F323A;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}
h1{
    color: white;
    font-size: 48pt;
    margin-bottom: 10px;
}
p{
    color: white;
    font-size: 18pt;
}
a{
    color: #97B1A6;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color: white;
}


/* CHEST STYLING */
#loot-chest-container{
    width: 800px;
    height: 500px;
    left: 320px;
    top: 262px;
    background: #493548;
}
/* 4 YELLOW TOP BARS*/
#long-bar{
    width: 800px;
    height: 30px;
    background: #FFA630;
}
.verticle-bar{
    background: #FFA630;
    width: 40px;
    height: 120px;
}
.vbar-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
#vbar1{
    margin-right: 160px;
}
#vbar2{
    margin-right: 160px;
}
#vbar3{
    margin-right: 160px;
}
/* END OF 4 TOP BARS */
.keyhole-key-wrapper{
    display: flex;
}

/* LOCK - BOX */
.keyhole-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #FFA630;
    width: 128px;
    height: 128px;

    margin-left: 336px;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#keyhole-circle{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: -20px;
}
#keyhole-rectangle{
    background-color: black;
    width: 36px;
    height: 63px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* END OF LOCK - BOX */

/* USERNAME AND PASSWORD FIELDS */
.user-pass-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
#username{
    margin-right: 128px;
    font-size: 18pt;
    font-weight: medium;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #C4C4C4;
    color: black;
    text-align: center;
}
#password{
    font-size: 18pt;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #C4C4C4;
    color: black;
    text-align: center;
}
/* END OF USERNAME AND PASSWORD FIELDS*/
.key-container{
    display: flex;
    justify-content: flex-end;
    margin-top: -80px;
    margin-right: 120px;
}
#key-outer-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
#key-inner-circle:hover{
    cursor: pointer;
    background-color: #ffb14a;
}
#key-inner-circle{
    background-color: #FFA630;
    outline: none;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
#key-shaft{
    background-color: #C4C4C4;
    width: 121px;
    height: 21px;
    margin-top: 25px;
    margin-right: -5px;
}
.key-tooth{
    background-color: #C4C4C4;
    height: 17px;
    width: 15px;
}
#key-tooth{
    margin-right: -34px;
    margin-top: 45px;
}
#key-tooth2{
    margin-right: -15px;
    margin-top: 45px;
}

/* END OF CHEST STYLING */

