body{
    font-family: 'Exo 2';
    background-color: #2F323A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#nav{
    display: flex;
    flex-direction: row-reverse;
    background-color: #493548;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#menu{
    background-color: #493548;
    color: #97B1A6;
    font-size: 18pt;
    outline: none;
    border: none;
}
#menu:hover{
    cursor: pointer;
    color: white;
}
#overall-container{
    display: flex;
    height: 95vh;
    width: 100vw;
    background-color: #2F323A;
}
#inv-container{
    background-color: #D9B26F;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#second-inv-container{
    background-color: #C7A367;
    height: 90%;
    width: 90%;
}
#username-gold-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
/* #gold-total{
    
} */
#gold-icon{
    background-color: #FFDE30;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    margin-top: 10px;
}
#gold-total{
    margin-left: 35vw;
}
/* #usernames-inventory{
} */
/* INNER INVENTORY FOR THE ITEMS STYLES */
#second-inv-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.inv-row-placeholder{
    background-color: #a58855;
    display: flex;
    justify-content: space-evenly;
    height: 8vh;
    width: 4vw;
}
#inv-row1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1vh
}
#inv-row2{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vh
}
#inv-row3{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vh
}
#inv-row4{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vh
}
#inv-row5{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vh
}
#inv-row6{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vh
}
#inv-row7{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vh
}
#inv-row8{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vh
}
#inv-row9{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vh
}
#inv-row10{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vh
}


/* VENDOR MODAL STYLES */
#vendor-screen-container{
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    background-color: #515151;
    height: 75vh;
    width: 55vw;
}
#close-vendor-btn{
    background-color: #515151;
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Exo 2';
    padding: 1vw;
    cursor: pointer;
}
#close-vendor-btn:hover{
    background-color: white;
    cursor: pointer;
}
#transaction-wrapper{
    display: flex;
    flex-direction: row;
}
#your-items{
    display: flex;
    background-color: #2F323A;
    width: 50%;
    height: 80%;
}
#vendor-space{
    display: flex;
    background-color: #2F323A;
    width: 50%;
    height: 80%;
}






/* CHARACTER INV STYLING*/
#char-container{
    display: flex;
    flex-direction: row;
    background-color: #515151;
    width: 50vw;
    justify-content: space-between;
    
}
#char-username-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-PFP{
    background-color: #3A3A3A;
    height: 50vh;
    width: 20vw;
}
.equip-slot{
    background-color: #3A3A3A;
    height: 8vh;
    width: 4vw;
}
#equip-helm{
    margin-left: 2vw;
    margin-top: 6vh;
}
#equip-misc1{
    margin-right: 2vw;
    margin-top: 6vh;
}
#equip-shoulders{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
#equip-misc2{
    margin-top: 2.5vh;
}
#equip-chest{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
#equip-misc3{
    margin-top: 2.5vh;
}
#equip-legs{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
#equip-misc4{
    margin-top: 2.5vh;
}
#equip-boots{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
#equip-misc5{
    margin-top: 2.5vh;
}
#user-stat-breakdown{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #3A3A3A;
    height: 35vh;    
    width: 36vw;
    margin-top: 1vh;
    margin-left: -8vw;
}
#stat-wrapper{
    height: 100%;
    width: 50%;
    outline: 1px solid black;
    font-size: 18pt;
}
#attribute-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    outline: 1px solid black;
}
#stat-divider{
    background-color: black;
    border: none;
    height: 1px;
}

#toggle-breakdown-btn{
    background-color: #FFA630;
    border-radius: 2px;
    outline: none;
    border: none;
    padding: .5vw;
    font-weight: medium;
}
#toggle-breakdown-btn:hover{
    background-color: #ffb14a;
    cursor: pointer;
}
.viewable{
    display: flex;
    flex-direction: row;
    background-color: #515151;
    width: 50vw;
}
.visible{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(0,0,0,.7);
    height: 100%;
    width: 100%;
    visibility: visible;
}
.hidden{
    display: none;
    visibility: hidden;
}

#modal-sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #493548;
    height: 35vh;
    width: 40vw;
    border-radius: 4px;
}
#close-modal-button{
    margin-top: -10%;
    margin-left: 93%;
    font-size: 18pt;
    padding: 1vh;
    border-radius: 2px;
    outline: none;
    border: none;
    color: #97B1A6;
    background-color: rgb(0,0,0,0);
}
#close-modal-button:hover{
    background-color: rgb(0,0,0,0);
    color: white;
    cursor: pointer;
}

.menu-buttons{
    font-size: 24pt;
    font-family: 'Exo 2';
    padding: 2vh;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #97B1A6;
    background-color: rgb(0,0,0,0);
    margin-bottom: 5px;
}
.menu-buttons:hover{
    color: white;
    cursor: pointer;
}